/* Styling HTML elements */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2fdfd;
    margin: 12px 0;
}

.header_title {
    margin: 25px;
    color: #0174a1;
}

.default, .custom, .reset  {
    margin-left: 25px;
    margin-top: 22px;
    padding: 8px 25px;
    background-color: #0174a1;
    color:#ffffff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.reset {
    display: block;
    padding: 8px 48px;
}

.grid_container {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 25px;
    top: 30px;
    background-color: #ffffff;
    font-size: 0;
    border: none;
    overflow: hidden;
}

